
@{
    ViewBag.Title = "Contactenos";   
}
<script>
  $(document).ready(function () {
    $("#menu_cont").addClass("active");
  });
</script>
<br /><br /><br />
<div class="container-fluid">
  <div class="container-fluid bg-info" align="center">
    <img src="~/imagenes/LogoLarge.png" class="img-responsive img-rounded" alt="Softparking" />
  </div>
  <hr />
  <br />
  <div class="container-fluid">
    <div class="col-md-5">
      <div class="panel panel-info">
        <div class="panel-heading">Direccion</div>
        <div class="panel-body">
          <ul>
            <li>Fabio Andrés  Amaris  Ubaldo</li>
            <br />
            <li>Ovidio Ardila Amado</li>
            <br />
            <li>Jose Alveiro Rodriguez Garcia</li>
            <br />
            <li>Wilson Aguilar</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="panel panel-info">
        <div class="panel-heading">Email</div>
        <div class="panel-body">
          <ul>
            <li>faamaris@misena.edu.co</li>
            <br />
            <li>oardila6@misena.edu.co</li>
            <br />
            <li>jarodriguez742@misena.edu.co</li>
            <br />
            <li>wdaguilar6@misena.edu.co</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid col-md-12 text-center">
      <button type="button" id="envi_cont" onclick="moda_conta()" class="btn btn-info">
        Contactar
        <span class="glyphicon glyphicon-send"></span>
      </button>
    </div>
  </div>
</div>

