
@{
    ViewBag.Title = "Mision";
}
<script>
  $(document).ready(function () {
    $("#menu_misi").addClass("active");
  });
</script>
<br /><br /><br />
<div class="container-fluid">
  <div class="container-fluid bg-info" align="center">
    <img src="~/imagenes/LogoLarge.png" class="img-responsive img-rounded" alt="Softparking" />
  </div>
  <hr />
  <br />
  <div class="container-fluid text-justify">
    <p>
      Proporcionar las tecnologías más innovadoras a medida de las necesidades empresariales,
      con el objetivo de incrementar su competitividad y productividad. Para ello implementamos
      soluciones prácticas adaptadas a sus necesidades y desarrollamos nuevas soluciones creativas.
      Nuestra base parte del aprovechamiento de las necesidades de la movilidad que hay en Bogotá
      enfocándonos con solución integral y eficaz para nuestros clientes.
    </p>
  </div>
</div>
