
@{
    ViewBag.Title = "NuestraEmpresa";
    
}
<script>
  $(document).ready(function () {
    $("#menu_empr").addClass("active");
  });
</script>
<br /><br /><br />
<div class="container-fluid">
  <div class="container-fluid bg-info" align="center">
    <img src="~/imagenes/LogoLarge.png" class="img-responsive img-rounded" alt="Softparking" />
  </div>
  <hr />
  <br />
  <div class="container-fluid text-justify">
    <p>
      Softparking es una empresa joven, nacida con una clara vocación innovadora, buscando dar nuevas 
      aplicaciones a tecnologías existentes y creando nuevas soluciones con el objetivo de dar una 
      respuesta integral y eficaz a sus clientes. La flexibilidad y capacidad de adaptación a las nuevas tecnologías 
      es uno de nuestros principios básicos. Softparking pretende acercar las numerosas tecnologías       
      que surgen en el ámbito de las soluciones de movilidad urbana a microempresarios.       
    </p>
    <p>
      Estas tecnologías brindan valiosas oportunidades de desarrollo, pero dada su rápida evolución 
      y la dificultad de integrarlas en los sistemas existentes suponen muchas veces un reto que las 
      empresas no pueden superar sin un socio tecnológico. Softparking quiere ser ese socio tecnológico 
      proporcionando aplicaciones adaptadas a las necesidades reales de los clientes. Para lograr los 
      objetivos planteados Softparking usa, facilita, desarrolla y promociona de manera preferente las 
      soluciones basadas en estándares abiertos en función de las necesidades del cliente.
    </p>
  </div>
</div>

