
@{
    ViewBag.Title = "Quienes Somos";
}
<script>
  $(document).ready(function () {
    $("#menu_quie").addClass("active");
  });
</script>
<br /><br /><br />
<div class="container-fluid">
  <div class="container-fluid bg-info" align="center">
    <img src="~/imagenes/LogoLarge.png" class="img-responsive img-rounded" alt="Softparking" />
  </div>
  <hr />
  <br />
  <div class="container-fluid text-justify">
    <p>
      Dedicada a desarrollar e implementar soluciones integradas de movilidad urbana creando
      un software que ejecute y guarde datos de clientes ocasionales y mensuales con el fin
      de gestionarlo con parqueaderos que manipulan sus ingresos diarios manualmente, reconoce
      la  importancia  de  su  capital  humano  y  establece  dentro  de  sus  prioridades  la
      implementación y mejoramiento continuo del sistema de información, se compromete a planificar,
      desarrollar mejoras e innovaciones con el criterio del cliente, quien posee los argumentos
      económicos para hacerlo, siempre hay que  fomentar estrategias que brinden las condiciones
      del software.
    </p>
    <p>
      Softparking es un software  que fue creado con el propósito de brindar soluciones tecnológicas
      en las áreas de aparcamiento o parqueaderos teniendo en cuenta una buena organización a sus
      usuarios y sus clientes. Este software identifica, crea entradas y salidas de los vehículos ya
      sean mensuales o cotidianos, con uso de base de datos para tener mejor rendimiento y desempeño
      para la empresa que lo implemente, Softparking  comprende equipamiento y capacitación de su
      personal para el manejo del software junto con un manual de usuario para realizar consultas
      adicionales en cualquier momento desde el mismo aplicativo. Sin importar la complejidad,
      Softparking brinda soluciones en la  plataforma para ser más activo y organizado durante
      la administración de los vehículos.
    </p>
  </div>
</div>

