
@{
    ViewBag.Title = "Vision";
}
<script>
  $(document).ready(function () {
    $("#menu_visi").addClass("active");
  });
</script>
<br /><br /><br />
<div class="container-fluid">
  <div class="container-fluid bg-info" align="center">
    <img src="~/imagenes/LogoLarge.png" class="img-responsive img-rounded" alt="Softparking" />
  </div>
  <hr />
  <br />
  <div class="container-fluid text-justify">
    <p>
      Queremos estar comprometidos con los problemas de nuestros clientes de forma transparente 
      y eficaz para convertirnos en su socio de confianza. En nuestra visión queremos ser una 
      empresa de referencia, que camina con el cambio de la tecnología y la sociedad, dando a 
      conocer las posibilidades de los estándares y tecnologías libres. Esta labor se debe 
      desempeñar de forma ética y satisfactoria para nosotros, nuestros clientes y el resto 
      de la sociedad.
    </p>
  </div>
</div>
