body {
    margin-top: 125px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

@media (max-width: 767px) { 
    .navbar-brand {
        padding: 0;        
    }

    .navbar-brand img {
        margin-top: 5px;
        margin-left: 5px;
    }
}
